telemetry.log
telemetry_data.csv
raw_hex_data.csv
telemetry_application.log
telemetry_application.log.2
telemetry_application.log.1
telemetry_application.log.3
telemetry_application.log.4
telemetry_application.log.5
training_data.csv
combined_training_data.csv
src/application_data/config.json
.env
output/main_app-1-22-2025.exe
output/main_app.exe
output/main_app_6-26-2025.exe
wh_per_mile_summary.csv
dist/Telemetry.exe
scripts/exported_keys/timestamp.json
scripts/exported_keys/targets.json
scripts/exported_keys/snapshot.json

# General Python ignores
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.Python
.python-version

# Virtual environments
env/
venv/
.venv/

# Build artifacts
build/
dist/
*.spec
out/
output/

# OS junk
.DS_Store
Thumbs.db

# App runtime data
src/application_data/*.csv
src/application_data/*.log
src/application_data/updates/metadata/*.json
src/application_data/user_images/battery.png
